@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:hsl(33, 91%, 50%);
    --black:black;
    --bg:rgb(77, 8, 8);
    --border:.1rem solid rgba(247, 123, 123, 0.3);

}

*{
    font-family: Sen, sans-serif;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  line-height:40px;
  font-size:20px;
}

.top-bar  {
    background-color: #222;
   display: flex;
    justify-content: center;
    align-items: center;
   
  
    
}

#search-btn{
    font-size:30px;
}

#cart-btn{
    font-size:30px;
    cursor: pointer;
}
#cart-btn:hover{
    color:black;
}
.btn{
    padding-left: 10px;
    padding-right: 10px;
    background: var(--main-color);
    cursor: pointer;
    color: white;
}
.btn-pill{
    border-radius: 50px;
    background-color: #eb5757;
    color:white;
}
h4{
    color:white;
}


img{
    width:932px;
    height:270px;
    text-align: center;
    margin:71px auto;
    display:block;
   
   }
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* height:9rem; */
    z-index: 1000;
    background-color: var(--bg);
}

.box{
  background-color:black;
  display:flex;
  flex-direction: row;
  justify-content: center;//we have used justify content center as because, we wanna a navigate the sentecnce h1 at the middle of the class, as h is under these class that'y we have  put the justify code here,under flex;
  padding:1.5rem 7%;
  border-bottom: black !important;
 }


.box {
  color:white;
  text-align:center;
  
}


.box button h1 {
  //border-radius:15px;
  margin-right:15px;
  justify-content:center;
  background-color:rgba(255,255,255);
  color:white;
}
.box button:hover {
    transform: translateY(-10px);
}
.box h1:hover {
    transform: translateY(-10px);
}
// now the main contnet of the program:


/* html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
} */

/* html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
} */


section{
    padding:2rem 7%;
}




.box-2{
    display: flex;
    justify-content: space-around;
    background-color: #eb5757;
    height: 60px;
    /* margin-left: auto; */
    /* padding-right: 1px; */
    /* padding-left: 184px; */
    align-items: center;
}


.p{
    padding:left;
}


.box-2 .navbar a{
    margin:0 1rem;
    /* font-size: 1.6rem; */
    color:#fff;
    letter-spacing:12px;
    justify-content: space-between;
    /* display: flex;
    margin-left:5rem; */
    position: relative;
    float: right;
}

.box-2 .navbar a:hover{
    color:black;
    border-bottom: .1rem solid var(black);
    padding-bottom: .5rem;
}

box-2 .icons{
    display: flex;
    align-items: center;
}

.box-2 .icons .p div{
    color:#fff;
    cursor: pointer;
     font-size: 2.5rem; */
    margin-left: 12rem; */
    padding:1.6rem;
}

.box-2 .icons div:hover{
    color:var(--main-color);
    //display:none;
}

#menu-btn{
    display: none;
}


.box-2 .search-form{
    position: absolute; 
    background: #fff;
    display: none;
    align-items: center;
}

.box-2 .search-form.active{
    transform: scaleY(1);
}

.box-2 .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.box-2 .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.box-2 .search-form label:hover{
    color:var(--main-color);
    display:none;
}

.box-2 .cart-items-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45%;
    background: #fff;
    padding: 0 -0.5rem;
}

.box-2 .cart-items-container.active{
    right: 0;
}

.box-2 .cart-items-container .cart-item{
    position: absolute;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.box-2 .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.box-2 .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.box-2 .cart-items-container .cart-item img{
    height: 7rem;
}

.box-2 .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.box-2 .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.box-2 .cart-items-container .btn{
    width: 100%;
    text-align: center;
}
.p{
    flex-direction: row;
}
   .icons {
         font-size: 5.5rem;
        padding: 0px;
        display: flex;
        align-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }


.card {
    width:36%;
    margin:58px;
    box-sizing:border-box;
    /* float:left; */
    text-align:center;
    border-radius:20px;
    cursor:pointer;
    padding-top:10px;
    box-shadow:0 14px 28px rgba(0,0,0,0,25),0 10px 10px rgba(0,0,0,0,0.22);
    transition:4s;
    border:    border: 1px solid rgb(119 181 63 / 53%);
    background: rgb(127 65 65 / 31%);
    backdrop-filter: blur(5px);
}
.right {
    position: absolute;
    margin-top: 5%;
    margin-right: 61%;
    padding-left: 120px;
}
  
.hero-heading {
    width: 75%;
    color: #f9f9f9;
    font-size: 62px;
    line-height: 1.2;
    margin-bottom:10px;


}
.box-2 h1 {
    padding-top: 37px;
    font-size: 11px;
    padding-right: 84px;
    justify-content: cente





}

.box2 span i{
    color:white;

}

span ul{
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.content {

    background-image: url('assets/y.jpg');
    max-width: 1369px;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* padding-right: 15px; */
  
    /* padding-left: 15px; */
    height:auto;
    background-size: cover;
    height:606px;
}

.content h1{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.card button{

        //text-decoration: none;
        //display: inline-block;
        font-size: 18px;
        font-weight: 500;
        //height: 36px;
        //width: 53px;
        background: grey;
        color: white;
        border-radius: 30px;
        padding:10px 0 10px;
        animation: card reveal 6s ease forwards;
	    animation-delay: 1s;
    }

    .card {
        animation-delay: 0.5s;
    }
    #hero h1:nth-child(2) span {
        animation-delay: 1.5s;
    }
    #hero h1:nth-child(3) span {
        animation-delay: 2.5s;
    }

   
.letter h1{
    color:white;
}
.card button:hover{
   transform: translateY(-10px);

    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}
   

u {
    text-decoration: underline;
  }

  .card{
    opacity: 0;
    -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
             -o-transform: scale(0.9);
                    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
             -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
}
.card{
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}
@media (max-width: 900px){
    .products{
      font-size: 2rem;
      text-align: center;
    }
    section .products{
      flex-direction: column;
    }
}


.products {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
    flex: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: stretch;
}
  
  
  .products{
    transform: translateY(0);
    opacity: 1;
  }
  .reveiw {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 51px;
    padding-left: 15px;

}
.o{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        /* display: flex; */
        /* margin-bottom: 40px; */
        /* -webkit-box-pack: justify; */
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
    
}

.object {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
o h1{
    font-size:35px
}
    
.swap{
    display:flex;
    flex-direction: row;
    padding:12px;
    justify-content: space-between;
    margin-bottom:122px;
    margin-bottom:122px;

}
.card1{
    width:30%;
    height:280px;
    background-color:black;
    
}

.card2{
    width:30%;
    height:279px;
    background-color:black;
}
.card3{
    width:30%;
    height:279px;
    background-color:black;
}

/* .card3{
    width:30%;
    height:200px;
    background-color:black;
} */
.inside1{
    
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        min-height: 350px;
        margin-bottom: 45px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 5px;
        background-color: #222;
    }
    .inside1 h1 {
        color:white;
        color: #f9f9f9;
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        background-image:url('.asset/po.jpg');
        background-repeat: no-repeat;
    }
        
    .inside2 i {
            position: absolute;
            left: 10%;
            top: 10%;
            right: auto;
            bottom: auto;
            color: #f9f9f9;
            font-size: 40px;
            font-weight: 700;
        }


      
  
.reveiw{
    background-image:url('j.jpg');
}

.safe {
    min-height: 550px;
    background-image:url('assets/h.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: cover;
}
.safe .ytb{

    width: 45%;
    color: #f9f9f9;
    font-size: 45px;
    line-height: 1.2;
    text-align: right;
    padding-bottom: 148px
}
.phara {
    width: 35%;
    margin-bottom: 25px;
    color: #f9f9f9;
    font-size: 18px;
    text-align: right;
}

h1{
    margin-top: 54px;
margin-bottom: 16px;
font-size: 32px;
line-height: 36px;
font-weight: bold;
padding-left: 137px;
margin-bottom: 151px


}
.fu{
    width: 45%;
    color: #f9f9f9;
    font-size: 45px;
    line-height: 1.2;
    text-align: right;
}


.ytb h1{
padding-left:122px;



}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
	background-image: url('assets/wh.jpg');
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
    padding-left:655px;
    background-color: #000000;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
    color:white;
}
#about .col-right p {
	margin-bottom: 20px;
    color:white;
}
#about .col-right .cta {
	color:white;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 95%;
	width: 102%;
	position: relative;
	border: 10px solid black;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: black;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
.section-title{
	color:rgb(250, 250, 250);
}

#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
    background-image: url('asset/h.jpg');
	font-weight: 200px;
	color:azure;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;

	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #3a5972 0%, #000000 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services  p {
	color: rgb(251, 253, 255);
	text-align: left;
}
.service-top .section-title p{
	color: #ffffff;
}

    
.footer{
    background:var(--black);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--main-color);
}
.contain-tab{
    color:black;
    font-size: 40px;
    background-color:black;
    color: white;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;

}
.contain-tab h1{
    padding:20px;
    margin:0;
    font-weight:300;

}
.ul .btn{
    margin:0px;
    display:grid;
    grid-template-columns: 70px 1fr 70px;
    border:none;
    font-famaliy:Poppins;
    font-weight:500;



}
.close {
    color:black;
    background-color:yellow;
    font-famaliy:Poppins;
}
.add {
    color:black;
    background-color:white;
    font-famaliy:Poppins;


}
.contain-tab img {
    width: 100%;
    height: 100%;
    object-fit: cover;



}
.contain-tab po {
    display:grid;
    grid-template-columns:70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items:center;
}